{{outlet}}
<div class="edit-doc-wrap">
  <h1 class="titleHeader">Edit title here</h1>
  {{input class="editedTitle" type="text" value=newDoc.title}}
  <br />
  <div class="textAreaBoundary">
  {{textarea action 'mouseUp' cols='80' rows='15' class='jumbotron' id=newDoc._id value=newDoc.text}}
  {{!-- <textarea {{action 'mouseUp'}} id="doc" rows="20" cols="80" class="jumbotron"></textarea> --}}
  <br />
</div>
  <br />
  <button {{action 'saveDoc'}} type="button" data-dismiss="alert" aria-label="Close" class="textButton" style="color: black;">
    <span style="font-size: 3em;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    Save Document</span>
  </button>

  {{yield}}
</div>
