<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
<div class="popover-container">
<button type="button" {{action 'show'}} id="popover" class="btn btn-default" aria-label="Left Align" style="color:black;" data-toggle="popover" data-trigger="focus" title="Dismissible popover" title="Welcome to Writr!" data-content="This app, Writr, was created by Jonathan Cohen as a capstonen project for the General Assembly WDI program.  Let's start writing!">
<span class="NewDoc" style="font-size:3em;"><span class="glyphicon glyphicon-off" aria-hidden="true">
</span>    <span class="textButton">About this Site</span></span>
</button>
</div>

<div class="col-md-8 col-md-offset-2">
  <div id="saveSuccess" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert alert-success">
        <h4>Your document has been saved!</h4>
          <p>Click here to return</p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">
  <div id="createSuccess" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="alert alert-success">
        <h4>New Document Created</h4>
          <p>Click here to return</p>
      </div>
    </div>
  </div>
</div>
</div>

{{#if isAuthenticated}}
  {{new-document}}
  {{my-docs}}
  {{outlet}}
{{/if}}
</div>
